<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uusi ryhmä</title>
</head>
<body>
  <h1>Lisää uusi ryhmä</h1>
  <div>
    <form th:object="${group}" th:action="@{savegroup}" action="#" method="post">
        <label for="name">Ryhmän nimi</label>
        <input type="text" id="name" th:field="*{name}" />
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <label for="description">Ryhmän kuvaus</label>
        <input type="text" id="description" th:field="*{description}" />
        
        <input type="submit" value="Save" />

    </form>
  </div>
  
</body>
</html>